[2020-10-25 11:05] PichuChen opened #1 "增加 PTT passwd 檔案其他欄位的解析"
預定修改的程式碼為

passwd.go

passwd_test.go

兩個檔案，請參考 https://github.com/ptt/pttbbs/blob/master/include/pttstruct.h 裡面的 userec 結構將 testcase 裡面的 passwd 檔案的內容解出來並做成測試檔。

[2020-11-10 17:06] cftang0827 opened #7 "新增 board header parser"
預計要做 board header parser 以及 unit test 的部分
會修改的程式碼包含
`board.go`
`board_test.go`

只會做最初步的parser，基本上就是按照 `pttstruct.h` 裡面的`boardheader_t`結構去實作

[2020-11-10 17:07] cftang0827 commented on #7
請指派給我！謝謝

[2020-11-11 17:30] chhsiao1981 commented on #1
#8 intended to resolve this issue, but #8 is too large.

Will break #8 with the following sub-pr:

1. ptttype as the most fundamental types.
2. cmbbs as the lib.
3. ptt as the top-most functions.

[2020-11-11 17:39] chhsiao1981 commented on #1
Programming convention:

1. accessing raw data through big5-fixed-length-bytes struct first (easily deserialize through binary.Read)
2. converting big5-fixed-length-bytes struct to utf8-string struct for further processing.
3. The Function-naming should be as much the same as the original pttbbs repo, unless there is a better coding-style in go. (cmbbs/names.c/is_invaliduser => cmbbs/names.go/IsIn

[2020-11-12 00:58] chhsiao1981 opened #12 "gRPC server (or web-server) to communicate with python-server"
The login-feature is almost done～
We are able to start setting-up the service to communicate with python-server.

Based on the information that I obtained:

1. Will use gPRC to communicate between each other.
2. Use jwt to send the user-info to python-server.
3. python-server is responsible for recording the jwt-info (user-info) in its own db.

[2020-11-12 02:37] PichuChen commented on #1
他修改的檔案數量雖然分成三個PR了，但是還是有到六十幾個

[2020-11-12 02:44] PichuChen opened #13 "實作 des crypt Golang 版本"
目前 PTT 以及多數 BBS 將密碼進行 Hash 的演算法應該是基於 DES 的演算法。
然而這個演算法並沒辦法使用 DES 直接實作。

雖然原本的 C 程式碼裡面有 fcrypt 可以用，不過如果直接靜態編譯進來可能未來會有版權問題。
替代的方案是使用作業系統中可能原本就有的 crypt 函式，在現代電腦上效能可能差不多了。

另外的問題是無論是 fcrypt 或者是 crypt 都有回傳靜態記憶體位置的問題，網路上有看到用純 Golang 實作的版本，也有套件化，所以搞不好用該版本會更好？

[2020-11-12 18:30] PichuChen opened #15 "解析 brc3 檔案"
brc3 檔案的用途是暫存目前使用者在各個看板已讀哪些文章的記錄檔

[2020-11-12 18:30] PichuChen commented on #15
需要的步驟大致上是把測試用檔案放上來以及實作內容

[2020-11-12 18:34] PichuChen opened #16 "解析 PTT BBS 檔案"
這個 ISSUE 紀錄需要被解析的檔案以及解析的進度

- [ ] 使用者記錄檔 (PASSWDS)
- [x] 看板列表 (.BRD)
- [x] 看板內文章列表 (.DIR)
- [x] 最近登入紀錄 (logins_recent)
- [ ] .polling
- [ ] .post

[2020-11-13 12:08] PichuChen commented on #1
如果一週後沒有其他問題的話就關閉這個 ISSUE 吧～

[2020-11-13 12:10] PichuChen commented on #12
剛開始我的想法是不會使用 gRPC 進行，因為如果要用 gRPC 開發的話文件需要再補上 protobuf 環境的安裝方式。

一開始還是會先考慮用傳統的 RESTFul + JSON 的方式進行

然後登入以及取文章等等的 API Path 可以開始討論了

[2020-11-13 13:33] chhsiao1981 commented on #12
We need crypt (passwd-hash) and shm (user-id hash-table) to do login before we can do api-server

[2020-11-13 13:35] PichuChen commented on #12
補個 crypt #13 的連結。

[2020-11-13 22:45] chhsiao1981 commented on #13
#5  done.

[2020-11-14 03:31] chhsiao1981 commented on #1
cmbbs and mbbsd requires shm.
(for user-hash-table)

It's extremely hard to get rid of ptt-code in shm.
(shm is a pointer pointing to the shared-mem, and use the C-feature to automatically mapped to the SHM_t structure,
 golang is GC-based and can not automatically map the data to type SHM struct)

It's possible that we have our own shared-mem mechanism AFTER ptt-c-code is retired.
We do need ptt-

[2020-11-14 17:08] PichuChen commented on #12
API Server 的實作方式我的想法是會另外增加一個package (子資料夾) 可能叫做 serverlet 或者是 bbsd 之類的，然後他編譯成可執行檔去使用 go-bbs 這個套件內的東西

[2020-11-14 17:11] PichuChen opened #17 "確認 Master 以及 Develop Branch 合併時機"
如標題，目前在送 PR 的時候基本上都是送往 Master Branch

初期可以這樣做，後期可能為了穩定度和開發方便可能需要分Branch

基本上有兩個方向，一個是另外開Develop Branch，另外一個則是另外開 Release Branch，相關的討論再請大家討論。

[2020-11-14 18:17] chhsiao1981 commented on #17
開發是 Master Branch.

stable-release 是用 git tag v[major].[minor].[patch].

每次開發過程:

1. 確定要開發什麼 feature. 根據這個 feature 決定要叫什麼 branch
2. git checkout master && git pull (從 master 拿到最新 available 結果)
3. git branch [branch] && git checkout [branch]
4. (programming / testing)
5. PR 回 Master.

[2020-11-29 16:22] chhsiao1981 opened #20 "fav-info is stored in in-process mem."
Found that fav-info is stored in in-process mem,
and is brutal-forcely do fav-save when the ssh/telnet/ws session is done.

https://github.com/ptt/pttbbs/blob/master/mbbsd/board.c#L1647
https://github.com/ptt/pttbbs/blob/master/mbbsd/mbbsd.c#L206

Design concern:
1. At least the fav-info in-file should be with one complete version. it shouldn't be parts from one connection and the others from anot

[2020-11-29 16:28] chhsiao1981 commented on #20
long-term TODO: pttbbs use db to save .FAV, to avoid continuous-querying-file from go-bbs.

[2020-11-29 16:59] PichuChen commented on #20
目前應該從靜態檔案讀取我的最愛的部分也還沒實作？

[2020-11-30 03:16] chhsiao1981 commented on #20
It is in the process of development.

https://github.com/chhsiao1981/go-bbs/tree/dev/fav

[2020-11-30 06:39] PichuChen opened #21 "解析我的最愛檔案"
我的最愛檔案 .fav 的測試檔已經上傳了，該使用者應該有 test 以及 ALLPOST 兩個最愛。

檔案位置位於
https://github.com/PichuChen/go-bbs/tree/master/testcase/fav

相關的Header 位置位於
https://github.com/ptt/pttbbs/blob/af507e0029c4e6b3a564ec98328ffe7cd7fd16be/mbbsd/fav.c
https://github.com/ptt/pttbbs/blob/af507e0029c4e6b3a564ec98328ffe7cd7fd16be/include/fav.h

[2020-11-30 06:40] PichuChen commented on #21
#16

[2020-11-30 06:40] PichuChen commented on #15
#16

[2020-11-30 19:38] PichuChen commented on #17
目前因為有個開發伺服器，所以應該會需要一個給這個開發伺服器Depoly用的branch

我會先叫他 develop 假如有需要更動再說，那之後大家的程式碼應該就先merge到develop這樣？

[2020-12-01 01:27] chhsiao1981 opened #22 "brc is stored in in-process mem."
https://github.com/ptt/pttbbs/blob/master/docs/brc.txt

https://github.com/ptt/pttbbs/blob/master/mbbsd/brc.c#L444
https://github.com/ptt/pttbbs/blob/master/mbbsd/brc.c#L596

brc is per-user article-read record.
It's extensively used when displaying article-list and board-list.
As fav, this cannot be read directly in go-bbs, or the system may failed.

Requiring middleware to take-care of user-arti

[2020-12-02 06:51] PichuChen opened #23 "使用者修改密碼後，API 端並不會即時更新新的使用者密碼"
如題，因為目前載入密碼檔案的機制是在程式執行時進行的。

也許要把它改成每次驗證時重新載入？或是幾分鐘重新載入？或是有什麼機制讓他重新載入這樣。

[2020-12-02 07:56] PichuChen opened #24 "確認 JWT 實作細節以及實作 JWT Token"
目前在Access Token 的設計上應該會採用 JWT Token

已知裡面會有 User ID 作為簽發主體

現在看還需不需要多塞什麼東西以利Client端利用，以及有效時間大約多久？三十分鐘？五分鐘？

[2020-12-05 18:05] PichuChen opened #25 "處理 Big5-UAO"
正統的 Big-5 的字集裡面應該是不支援日文假名以及「堃」字的，但是PTT有支援，主要是因為PTT並不是使用一般的 Big-5 而是使用 Unicode 補完計劃的 Big5-UAO 編碼，這個編碼看起來還沒被Golang支援的樣子，需要Patch。

[2020-12-05 18:26] PichuChen commented on #25
供參：https://github.com/PttCodingMan/PyPtt/issues/11

[2020-12-05 19:26] PichuChen commented on #25
確認過目前Golang的實作似乎是可以支援Big-5的？

[2020-12-05 19:28] #25 closed

[2020-12-11 17:52] PichuChen commented on #7
請問目前這個有下文嗎？

[2020-12-18 15:51] PichuChen commented on #1
目前在劣文數量以及五子棋象棋等的資料還沒有被Parse出來 (PTT部分)

[2020-12-26 19:15] #13 closed

[2020-12-27 03:51] ifanchu commented on #21
我可以接這個issue

[2020-12-27 03:52] PichuChen commented on #21
麻煩了！

[2020-12-27 06:55] PichuChen commented on #23
如果說知道是 Linux 的話，那使用 inotify 如何？

[2020-12-27 06:56] PichuChen commented on #23
https://github.com/fsnotify/fsnotify 這東西也許是我們要找的

[2020-12-28 13:35] PichuChen commented on #21
從二進位解析成 golang struct 的部分好了，接下來是 golang struct 轉回二進位的部分。

[2020-12-29 08:15] ifanchu commented on #21
I can take this as well.

[2020-12-30 12:36] #21 closed

[2021-01-01 01:44] ifanchu commented on #16
I can take `logins.bad`

[2021-01-01 02:48] ifanchu opened #29 "Parse logins.bad"
logins.bad 有兩種，一個在BBSHOME，一個在User下面
https://github.com/ptt/pttbbs/blob/master/include/common.h#L56
https://github.com/ptt/pttbbs/blob/master/common/bbs/passwd.c#L255

<BBSHOME>/logins.bad: 這個檔裡有每個 user的login attempt且包含成功與失敗。第一個字元若是"-"代表失敗。

[code]

home/<x>/<UserId>/logins.bad: 這個檔裡只有該user的 失敗 login attempt
[code]

目前我的想法是用同一個struct來parse這2種logins.bad

[code]

For <BBSHOME>/logins.bad ，這個檔裡四個field

[2021-01-01 02:49] ifanchu commented on #29
https://github.com/PichuChen/go-bbs/issues/16

[2021-01-01 06:21] PichuChen commented on #29
差別應該在全站的不會刪掉，但是個人的可以自行刪掉這樣吧？

[2021-01-01 06:49] PichuChen opened #31 "資料夾及套件架構調整"
目前 PTT 的支援進度比較有進度了，不過發現檔案後綴系統版本的做法會讓命名空間比較混亂，不同站台的Username或是IP長度定義可能會有不同，目前想法是參考其他人的類似專案把它變成用資料夾的形式分開

例如
[code]
https://github.com/audreyt/ournet-bbs/tree/master/lib/OurNet/BBS/Cola

這樣，那實際上根目錄的地方去設計整體的介面，感覺上應該會像是 Golang 的 database/sql 的設計模式。

[2021-01-01 19:42] #29 closed

[2021-01-03 22:49] ifanchu commented on #24
Just a thought.

I think the ECDSA private key should not be hardcoded in the code. It should be read from a file instead given the file has most strict access permission. This way the server can invalidate all tokens at any time.

Also this ECDSA private key is only being used to sign the JWT, I don't see why it has to be an ECDSA private key. If there is a specific reason of doing this, we shoul

[2021-01-04 05:08] PichuChen commented on #24
目前 private key 在這份是直接寫在程式碼當中，因為這份的 serverlet 的性質比較接近範例。

在 PTT APP 後端使用的版本會以 https://github.com/Ptt-official-app/Ptt-backend 這份為主，因此 JWT 部分可能直接移過去那邊討論比較好。

[2021-01-04 05:08] #24 closed

[2021-01-09 14:15] PichuChen commented on #16
.Names 的格式是不是和 .DIR 類似啊？

[2021-01-09 22:25] PichuChen opened #32 "實作文章解析器"
目前有個重要的任務我忘了開，就是需要解析文章

以前並沒有結構性的去描述 BBS 文章結構的結構，因此這部分得我們自行發明。

初步的話我希望可以解析成以下的格式
[code]

方法目前沒有特別的想法，也許建議使用regex或者是if else, 如果用 goyacc 寫出一套解析器應該也是可以，雖然我懷疑這個解析器會不會遇到2003以前的文章就失效了。 如果要用 NN 訓練出一個模型出來我覺得也不是不行，雖然這樣的話我可能會先讓傳統 if else 作法的先上線。

[2021-01-21 03:38] PHChenGit commented on #23
請問方便描述這個 issue 想要即時更新使用者密碼是想解決什麼問題嗎？
或者說是想要達到什麼目的，所以要馬上更新使用者密碼？

[2021-01-21 06:10] PichuChen commented on #23
這個部分應該可以算是 Ptt-Backend 那邊的 ISSUE 了。

他目前驗證密碼仰賴的是在啟動 Process 時呼叫 load userrecord 的函式讀入的資料，因此事後這個資料如果在硬碟上被修改了在現在版本的程式碼他並不會被同步更新這樣。

[2021-01-21 06:13] PichuChen commented on #23
不過也許 userrrec 不應該讓 Ptt-Backend 那邊來管理，而是資料庫套件也就是 go-bbs 這邊要管理？

[2021-01-21 06:41] PHChenGit commented on #23
我大概有拜讀一下程式碼，有了解到只有在登入的時候才會重新 load file
但是還是不確定為什麼想要改掉這個版本？
我的意思是 目前想要做到更改密碼後強迫所有平台都登出再重新登入 以確保使用者資料安全嗎？
或是要做到什麼事情這樣子？
如果沒有特別的原因是，只是覺得這樣比較合理的話，似乎可以把時間投資在其他功能（？

另外也許這個話題比較適合另開 issue 討論，但還是好奇想先問問看，目前市面上有許多開源好用的 DB 可以選擇
也許可以研究看看怎麼把這些 file 轉到 DB 後，後續好管理開發人員的生活也許就不需要這麼 hardcore？

[2021-01-22 15:23] PichuChen commented on #31
調整完了，所以關閉ISSUE。

[2021-01-22 15:23] #31 closed

[2021-01-27 07:26] #7 closed

[2021-01-27 07:27] PichuChen commented on #17
太久沒有後續了，先關閉。

[2021-01-27 07:27] #17 closed

[2021-01-27 07:33] PichuChen opened #33 "定義發文所需要的 Connector Interface Method"
目前在  https://github.com/PichuChen/go-bbs/blob/d49298349281c75edd721caece6db88744df7dba/bbs.go#L89 有定義Connector ，但目前的 Connector 只有讀取的功能，需要定義有寫入功能的 BBS Driver 要實作哪些東西。

方向上有兩種，一種是在原有的 Connector 新增 Method
第二種是定義新的Interface 可能叫做 WritableConnector 或是 BBSWriter 之類的，然後去定義這個 Interface, 使用上就是檢查如果這個 Driver 沒有實作某個 Connector Interface 的話，就是視為這個 BBS Driver 不支援某類型的功能。

[2021-01-27 08:13] PichuChen opened #34 "實作 Cache 套件"
雖然套件名稱是 Cache 但實際上是用來讀取 SHM 的套件

初步想法是這樣，目前在測試環境的 SHM 已經被打包下來了，約 44MB, 因此在 Parsing 的時候透過 mmap 的 System call 就能夠讀入記憶體了。

但是根據每個BBS編譯設定不同，欄位所在的記憶體位置也會不同，因此這部分需要動態算出位置，算出位置後下一步就能取得該位置的資料或是將資料寫入該位址。

如果回傳的是 `[]byte` byte slice 的話，那利用者就能自由的讀取和修改某段記憶體位置了（還不用copy）
https://play.golang.org/p/vEUqcyc5g94

第一階段因為方便測試，所以用 mmap 打開測試資料，然後上線前改成透過 cgo 開啟 system V SHM 的版本。

大概是這樣的計畫，看有沒有人有興趣或是其他意見。

[2021-01-27 09:06] ifanchu commented on #32
一篇文章的存檔格式是長怎樣的呢？
有沒有一篇所有內容(推文啊，上色啊什麼的)都有的範例我來看一下？

[2021-01-27 09:12] PichuChen commented on #32
雖然說測試資料包裡面有，不過因為方便討論，把其中一個轉成 UTF-8 之後放到 gist 了 （這個範例沒有推文上色）
https://gist.github.com/PichuChen/dcfcc1db826e3a35942985e4442abd19

實際上如果要更複雜的可以到 pttapp.cc 上面產生

[2021-01-27 09:19] PichuChen commented on #32
https://gist.github.com/PichuChen/4ae56b2d8fda9f7e12df7c4d34befe5a

再來一個版本是用十六進位表示的

[2021-01-27 20:42] Julian-Chu opened #35 "ptt資料存放技術討論串 (File system, SQL, NoSQL, blob)"
[@kkdai](https://github.com/kkdai) 整理分享，我想說放一份連結在這個issue，有後續資料跟討論可以在這繼續進行

https://www.evanlin.com/golangtg-ptt/?fbclid=IwAR3vojWy1K31T6eU9CT-QdgPjF95okDS8qsJmXHKTKXyzQen3_wQpoQxWbo

[2021-01-28 07:31] ifanchu commented on #16
`logins.bad` 可以check了

[2021-01-28 07:33] ifanchu commented on #16
I can take `register.log`

[2021-01-28 07:56] PichuChen commented on #16
@ifanchu  logins.bad 有對應的PR嗎？
register.log 看要不要先開個 ISSUE 表示你那邊要做，然後ISSUE在tag回這個ISSUE

[2021-01-28 08:37] ifanchu commented on #16
https://github.com/Ptt-official-app/go-bbs/pull/30 this is for `logins.bad`.

[2021-01-28 09:52] PichuChen opened #36 "給不知道現在要做什麼的人"
如果不知道要做什麼的話，可以在 [看板](https://github.com/Ptt-official-app/go-bbs/projects/1) 找到 TODO
如果還是不知道的話，可以在這篇下面留言，害羞的話可以私訊 Pichu ， 在 join.g0v.tw 可以找到 pichuchen。

[2021-01-28 18:23] PichuChen opened #37 "[建議] 把原本 PichuChen/go-bbs 修改為 Ptt-official-app/go-bbs"
**原本作法的問題 / Solved Problem**
- 原本是連結到  PichuChen/go-bbs ，假如不修改的話接下來開發會比較不方便

**實作細節 / Details of Implement**
- @denkeni  說取代就行了

**期程 / Schedule**
N/A
**相關文件 / Documents**
N/A

[2021-01-29 12:07] denkeni commented on #37
你認真嗎XD

[2021-01-29 12:14] PichuChen commented on #37
你不是說要幫忙取代XD

[2021-01-29 14:27] PichuChen opened #38 "[主線] [PTT] 實作 userinfo_t 解析"
**實作細節 / Details of Implement**
- 目前看起來需要解析在 pttstruct.h 裡面的 userinfo_t，測試資料從目前 shm 測試資料的 0x40510 位置開始，長度確認中。

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間： 一週
- 實作時間： 一週
- 確認時間：一週

**相關文件 / Documents**
https://github.com/ptt/pttbbs/blob/4d56e77f264960e43e060b77e442e166e5706417/include/pttstruct.h#L349

[2021-01-29 20:56] PichuChen commented on #34
目前實作的進度在 Branch `feature/cache` 有初步的雛形，可以從 mmap 讀取到 money 了

[2021-02-02 13:09] FATESAIKOU commented on #34
不好意思想請問一下，讀取 mmap 的部分預期打算怎麼實現。

可能是我不熟語言 go 跟 c 的底層，但在我的印象中如果 mmap 中的資料沒有經過序列化純粹是 raw data 的話，不只是編譯參數，包含有關 space locality 之類的記憶體優化都會造成影響。
不知道大大打算怎麼處理？

[2021-02-02 14:57] PichuChen commented on #34
你指的是 Alignment 的問題嗎？

[2021-02-03 01:37] FATESAIKOU commented on #34
嗯嗯對，然後我想問如果這個 Alignment 在 runtime 透過類似 memalign 的 function 來做管理，要如何在 golang 裡面解析。（因為這邊的影響因素不只是編譯參數，感覺還要把相關的 alignment 參數塞給 golang 才能解析？）

[2021-02-03 21:11] PichuChen commented on #34
目前是會傳入 `MemoryMappingSetting` 這個物件，這個物件中有個 `AlignmentBytes`

[2021-02-04 14:31] FATESAIKOU commented on #34
喔喔，原來如此。那請問這邊有用到 `AlignmentBytes` 的實作會在哪裡呢？

https://github.com/Ptt-official-app/go-bbs/tree/7da3dab88110b6a0d65d45a8dfb7b9094fb8e7fd/cache
雖然目前看過這裏的程式碼，但不好意思還是找不太到。

[2021-02-04 15:48] tanyeun opened #39 "[BUG] 使用者沒有我的最愛的時候，後端會有runtime error"
### 發生了什麼事？ / The Problem
curl http://localhost:8081/v1/users/foobar/favorites
但是foobar沒有我的最愛

### 如何重現 / To Reproduce
1. 選一個沒有我的最愛的帳號, eg: foobar
2. 然後呼叫 curl http://localhost:8081/v1/users/foobar/favorites

4. 然後產生runtime error，但是主程式不會死掉

### 預期的行為 / Expected behavior
主程式可以handle exception而不會導致runtime error

### 螢幕截圖 / Screenshots
![image](https://user-images.githubusercontent.com/22489112/10691

[2021-02-05 13:58] PichuChen commented on #34
https://github.com/Ptt-official-app/go-bbs/blob/7da3dab88110b6a0d65d45a8dfb7b9094fb8e7fd/pttbbs/cache.go#L72

在這邊

[2021-02-05 13:59] PichuChen commented on #36
如果說有興趣加入這個專案但是不知道要如何進入的，請參閱其他文件，或者是到 g0v slack 找到 bbs channel

[2021-02-05 13:59] #36 closed

[2021-02-08 09:27] PichuChen commented on #39
可以請 @ifanchu 協助確認一下嗎？

[2021-02-09 22:08] PichuChen opened #40 "[主線] [PTT] 實作新增看板"
**實作細節 / Details of Implement**
- 請參考 [pttbbs admin.c](https://github.com/ptt/pttbbs/blob/4d56e77f264960e43e060b77e442e166e5706417/mbbsd/admin.c#L1046) 當中的 add_board_record 的行為。
- 不做權限檢查，權限檢查交由 Ptt-backend 套件進行，但是需要進行資料結構完整性上的檢查，例如是否超過最大看板數量。
- 是否支援 Cache (SHM) 需要討論，有可能同時支援沒有 Cache 的版本。

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間： 三日，到 2/13
- 實作時間： 一日，到 2/14
- 確認時間： 三日，到 2/17

[2021-02-12 18:03] titaneric commented on #1
Hi,
我可以嘗試parsing剩餘的資料，目前已有將PASSWD其他欄位對過C以及Go

[2021-02-12 19:01] PichuChen commented on #1
OK，那你那邊是打算一口氣把剩下的都做完嗎？ 還是先開一個子 ISSUE 把某個範圍的做完？

[2021-02-13 03:51] titaneric commented on #1
我可能先開子issue把遊戲成績補齊之後再把其他補完

[2021-02-13 13:05] PichuChen commented on #1
你好像變成直接送 PR 而不是另外開立子 ISSUE 了喔

[2021-02-14 07:05] FATESAIKOU commented on #34
不好意思，拖了有點久。
我在這裡整理一下自己的理解。

1. 所以根據這邊的程式碼來看，這裡是以 `AlignmentBytes` 已經確定的前提來計算各個欄位的 offset 的意思嗎？
2. 然後承上，接下來主要需要完成讀取介面的是 [#L107](https://github.com/Ptt-official-app/go-bbs/blob/7da3dab88110b6a0d65d45a8dfb7b9094fb8e7fd/pttbbs/cache.go#L107) 開始到 [#L267](https://github.com/Ptt-official-app/go-bbs/blob/7da3dab88110b6a0d65d45a8dfb7b9094fb8e7fd/pttbbs/cache.go#L267) 中所有的變數嗎？
3. 從[這裡](https://github.com/Pt

[2021-02-14 13:30] PichuChen commented on #34
AlignmentBytes 會在執行其傳入，所以 go-bbs 的使用者要知道目前執行中的系統的 AlignmentBytes 是多少。

對

有，在這邊： http://pttapp.cc/data-archives/  dump.shm 相關的壓縮檔就是了

[2021-02-17 13:09] gn01842919 opened #44 "UserRecord 介面缺少必要的方法"
**原本作法的問題 / Solved Problem**
- UserRecord 缺少部分的方法

**實作細節 / Details of Implement**
- 依據 PTT-Backend 的 API 文件，發現 UserRecord 缺少以下方法:
    - NumBadPosts()
    - LastCountry()
    - MailboxDescription()
    - ChessStatus()
    - Plan()

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間：一週
- 實作時間：一週
- 確認時間：一週

[2021-02-17 15:00] PichuChen commented on #44
如果他的型別是
[code]

這樣的話不知道可不可以

另外 ChessStatus 應該是另外開一個 ChessUserRecord 來表示支援回傳棋盤狀態的使用者，裡面用 map 指到紀錄輸贏平手的資料結構。

然後 Plan 回傳一個 struct 裡面暫時先放還沒處理過的名片檔

[2021-02-17 16:16] PichuChen opened #45 "[建議] 支援 golang 1.16"
### 原本作法的問題 / Existed Problem
Golang 1.16 推出了，應該可以開一個 Branch 測試目前 1.16 跑起來會不會有問題

### 實作細節 / Details of Implement
建立一個 feature/golang_1_16 然後修改 CI 檔案讓他使用 golang 1.16 做測試，沒問題的話就 merge 回來

### 期程 / Schedule
- 討論時間：一日
- 實作時間：一日
- 確認時間：一日

### 相關文件 / Documents
https://golang.org/doc/go1.16

[2021-02-18 13:41] titaneric commented on #1
看到PR被merge進來了，感恩。
請問還有欄位需要補嗎？看起來這個issue已經解掉了

[2021-02-20 12:26] PichuChen commented on #44
@gn01842919 再幫忙看一下這樣行不行

[2021-02-20 17:33] #1 closed

[2021-02-21 09:56] gn01842919 commented on #44
LGTM

[2021-02-21 10:37] gn01842919 opened #48 "缺少 PopularArticleRecord 介面"
**實作細節 / Details of Implement**
- 缺少 PopularArticleRecord 介面，應有以下 method:
    - `BoardId() string`

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間： 一週
- 實作時間： 一週
- 確認時間： 一週

**相關文件 / Documents**
[PTT後端系統協定](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.1ehnllv3ris)

[2021-02-21 10:49] PichuChen commented on #48
這個未來應該會被改成 BoardID

[2021-02-21 18:41] PichuChen opened #49 "[建議] 實作新增看板功能以及命令列介面"
**原本作法的問題 / Solved Problem**
- 目前還沒有新增資料到資料庫的範例，因此用新增看板作為測試
- 目前在測試上只有跑 go test 好像不夠，所以多一個命令列來做測試以及未來的維運使用

**實作細節 / Details of Implement**
- 大致上直接寫

**期程 / Schedule**
- 確認時間： 一週

[2021-02-21 18:58] #44 closed

[2021-02-23 13:24] minchao commented on #45
注意到目前 CI [go.yml](.github/workflows/go.yml) 中的 Go 版本設定是 `^1.13`

https://github.com/Ptt-official-app/go-bbs/blob/fe758895306cac39042f890d2449618b420c168c/.github/workflows/go.yml#L19

所以在執行時安裝的版本會是 1.x 最新版本，例如最近的 [Build #147](https://github.com/Ptt-official-app/go-bbs/runs/1935923458?check_suite_focus=true#step:2:10) 安裝的就是 `1.15.8`，估計過陣子執行的測試就會是安裝 `1.16` 了 😄

[2021-02-23 13:55] minchao opened #51 "[建議] 移除 CI 流程中多餘的依賴安裝步驟"
**原本作法的問題 / Solved Problem**

CI [go.yml](.github/workflows/go.yml) 設定中的 L27 先安裝套件中宣告的依賴後，在 L28 還特別處理 Dep 宣告的依賴。考慮到專案已使用 Go Modules 且並不存在 dep 依賴設定檔，此應為無效的步驟。

https://github.com/Ptt-official-app/go-bbs/blob/fe758895306cac39042f890d2449618b420c168c/.github/workflows/go.yml#L25-L31

**實作細節 / Details of Implement**

1. Go build/test 在執行時即自動安裝依賴，建議移除該 step。
2. 使用 actions/cache@v2 快取依賴，加快 CI 執行速度。
3. 允

[2021-02-26 08:51] y2468101216 opened #52 "[主線] [PTT] 將 Id 改為 ID"
**實作細節 / Details of Implement**
目前有部分 code 使用 id 應該要改為 ID

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間：一天
- 實作時間： 三天
- 確認時間： 一天

**相關文件 / Documents**
使用 golint 確認

[2021-02-27 15:17] titaneric commented on #52
這我可以幫忙，麻煩assign給我

[2021-02-27 16:34] titaneric opened #53 "[建議] 支援更好的命名及一致的coding style"
**原本作法的問題 / Solved Problem**
- 目前在命名上有幾個golint會跳警告如下
  -  ALL_CAPS命名, Ex: `PTT_BRD_POSTMASK `
  - JSON, Ex: `favJson`
  - UI, Ex: `PosOfPttPasswdPagerUiType`
  - Error命名, Ex: `InvalidFavTypeError`
  - 不一致的receiver命名
[code]
- 一些語法可以更好
  - idx += 1 -> idx++
  - 移除unreachable code

**實作細節 / Details of Implement**
按照go lint建議改，這應該跟 #52 一樣問題。其中ALL_CAPS命名個人覺得有討論空間，畢竟原始的code是C

**期程 / Schedule**
(希望這個任務大

[2021-03-01 08:13] PichuChen commented on #52
@titaneric  感謝

[2021-03-01 08:14] PichuChen commented on #53
ALL_CAPS 的問題我可以很確定應該要改掉他，然後 PosOf 的問題也是要被改掉

[2021-03-01 08:20] PichuChen commented on #53
receiver 的命名有哪邊有文件介紹相關的規範嗎？ 因為我覺得他在同一個 name scope 底下的命名其實問題不大。

[2021-03-01 13:26] titaneric commented on #53
應該是類似[golint下的測試](https://github.com/golang/lint/blob/master/testdata/receiver-names.go)
裡面有一個`// MATCH /receiver name a should be consistent with previous receiver name b for bar/`

[2021-03-02 05:14] #34 closed

[2021-03-02 05:15] #49 closed, assigned to nobody

[2021-03-02 12:47] #51 closed, assigned to nobody

[2021-03-02 12:57] minchao commented on #53
@PichuChen 關於 Receiver Names 的命名，在官方 [CodeReviewComments](https://github.com/golang/go/wiki/CodeReviewComments#receiver-names) 文件裡提到：

[2021-03-02 13:05] minchao opened #56 "[建議] 分支 development 也該進入 CI workflow"
**原本作法的問題 / Solved Problem**
- 既有版本僅在 master 分支執行 CI 測試，無法及早發現問題。

**實作細節 / Details of Implement**
- Add development branch to on.push/on.pull_request

**相關文件 / Documents**
- https://github.com/Ptt-official-app/go-bbs/pull/55#issuecomment-788881106

[2021-03-02 13:20] titaneric commented on #53
這邊我覺得可以跟各位討論ALL_CAPS該怎麼改比較好，例如：`PTT_IDLEN`中間有縮寫命名的是改成`PttIdLen`嗎？會不會用`IdLen`就可以，因為我們有用module區分不同的bbs，PTT也許就可以省略。
另外我不太明白 @PichuChen 說的PosOf 的問題是指哪一個

[2021-03-02 13:41] minchao opened #57 "[建議] 添加 golint 到 CI 流程中"
**原本作法的問題 / Solved Problem**
- 目前 #53 正在進行符合 [Golint](https://github.com/golang/lint) 檢查的修改，將自動檢查添加到 CI 流程中可避免未來發生違反規則的修改。

**實作細節 / Details of Implement**

目前有二方案，一是簡單添加  `golint` 工具直接執行。另一是使用 Go 生態圈常用的 Go linters aggregator [golangci-lint](https://golangci-lint.run/#features) 來執行 `golint`，額外的好處是，隨著專案持續發展，我們可以逐步啟用[各種靜態分析工具](https://golangci-lint.run/usage/linters/)。

**相關文件 / Documents**
- https:

[2021-03-02 14:23] minchao commented on #53
以 `const PPT_IDLEN` 為例，參考官方文件：

`PTT` 部分，參考 [Package names](https://blog.golang.org/package-names)，使用 package 來組織程式碼，我們可以拿掉 `PPT` 前綴，避免 stutter：

`ID` 部分，[CodeReviewComments](https://github.com/golang/go/wiki/CodeReviewComments#initialisms) 提到：

`LEN` 部分，[Organizing Go Code (2014 Google I/O talk)](https://talks.golang.org/2014/organizeio.slide#21) 提到：

[2021-03-02 14:29] PichuChen commented on #53
`PTT_IDLEN` 的問題我認為應該要被修改成 `IDLength` 或者是他應該要是一個 getter 假如這個值有可能被動態設定的話。 但是必須要有註解讓大家知道他要被參照到 [原本的地方](https://github.com/ptt/pttbbs/blob/4d56e77f264960e43e060b77e442e166e5706417/include/pttstruct.h#L13)。

[2021-03-02 14:35] minchao commented on #53
補充，Golint 處理的是 Coding style，所以有些規則可能見仁見智，雖然其文件提到 Google 正在內部使用，但爬一下 Go 原始碼也是可以發現許多反例 XD。且它是一個全有或全無的檢查器，無法忽略任一檢查規則。

[2021-03-02 16:48] titaneric commented on #53
請問@PichuChen 指的是類似`PosOfFormosaBBSFileHeaderFilename`以及`PosOfPTTBoardName`這種有bbs各站的命名嗎？這在[pttbbs/README.md](https://github.com/Ptt-official-app/go-bbs/blob/development/pttbbs/README.md)有提到。

 另外golint看起來的確不打算支援ignore某些檢查(golang/lint#186)，可以的替代方案是有如[golangci-lint](https://github.com/golangci/golangci-lint)。但這些是非官方實作，若要放入CI/CD流程可以再開一個issue討論。

[2021-03-03 13:29] RicoToothless commented on #57
我投 golangci-lint 一票
因為在 [GitHub Action](https://github.com/golangci/golangci-lint-action) 上做得比較完整而且也比較快（當然也要實際測一下）

我看 golint 沒什麼 GitHub Action，不然就要自己 `go get -u golang.org/x/lint/golint` 有點花 CI 時間。

[2021-03-03 14:29] whitefloor opened #59 "[主線] [PTT] 實作個人看板歷史文章查詢 (repository)"
**實作細節 / Details of Implement**

* 查詢某User的歷史文章，主要是用來與ptt-backend對接repository使用
* cache依照ptt-backend ([#59](https://github.com/Ptt-official-app/Ptt-backend/issues/59)) 暫定不做，暫時是存放在go-bbs這
* 權限檢查參考其他的issue，一樣由ptt-backend處理

**期程 / Schedule**

* 此Issue與 https://github.com/Ptt-official-app/Ptt-backend/issues/59 連動，go-bbs處理完成後，ptt-backend就不需要mock
- 討論時間： 3/4-3/7(3 day)
- 實作時間： 3/8-3/11(3 day)
- 確認時間： 3

[2021-03-04 02:16] xboxa5105 commented on #59
@PichuChen
這個issue 關聯到https://github.com/Ptt-official-app/Ptt-backend/issues/59
再麻煩assign 給我 謝謝

[2021-03-04 07:21] PichuChen commented on #59
@xboxa5105  再麻煩你了

[2021-03-04 07:22] #56 closed, assigned to nobody

[2021-03-04 07:23] PichuChen commented on #53
對，原本因為是在同個 package 所以用 PosOf 切開，但是現在已經分成不同套件了，所以不需要切開了。

[2021-03-04 11:48] PichuChen commented on #59
@whitefloor  我可以確認一下這個 ISSUE 是針對 http 還是 usecase 還是 repository 的嗎？

[2021-03-04 11:51] whitefloor commented on #59
@PichuChen
是針對repository的

[2021-03-04 12:04] PichuChen commented on #59
這邊看起來 go-bbs 應該是不用動才對？

[2021-03-04 12:15] whitefloor commented on #59
需要實作go-bbs的Query
我是參照repository的這段程式碼去引用go-bbs的API
![image](https://user-images.githubusercontent.com/45685163/109962490-3799fd00-7d26-11eb-9ecf-08667b75a2b1.png)

[2021-03-04 12:21] PichuChen commented on #59
現在應該是歷史文章查詢？所以應該不是使用 UserFavoriteRecords?

[2021-03-04 12:22] PichuChen commented on #59
應該是用 https://pkg.go.dev/github.com/PichuChen/go-bbs#DB.ReadBoardArticleRecordsFile 這個做篩選？

[2021-03-04 12:34] whitefloor commented on #59
應該說是引用他撰寫的方式，想說用userID就可以取得這個人過往的所有歷史文章
目前實作我是這樣
![image](https://user-images.githubusercontent.com/45685163/109963810-c9eed080-7d27-11eb-971f-945e8ccbe576.png)

如果用https://pkg.go.dev/github.com/PichuChen/go-bbs#DB.ReadBoardArticleRecordsFile
應該是變成取得看板文章了

[2021-03-04 15:53] minchao commented on #57
補充，golangci-lint 預設排除 golint 中的 comment on exported 檢查，會比直接使用 golint 輕鬆許多。

see https://github.com/golangci/golangci-lint/blob/507703b444d95d8c89961bebeedfb22f61cde67c/pkg/config/config.go#L47-L59

[2021-03-04 20:19] PichuChen commented on #59
對，就是先取得看板文章，然後在 Ptt-backend 這邊判斷這篇文章屬不屬於某個使用者的，可能判斷過之後要再把判斷過的結果存下來？

[2021-03-05 01:50] whitefloor commented on #59
好的，這樣我明白了，那這個issue再請你刪除，感謝

[2021-03-05 08:52] wagaru opened #61 "[主線] [PTT] 實作 BoardRecord interface 缺少的發文限制資訊"
**實作細節 / Details of Implement**
BoardRecord 目前沒提供發文限制的相關資訊，所以需要提供以下 method：

* PostLimitPosts() uint8 // 發文次數
* PostLimitLogins() uint8 // 登入次數
* PostLimitBadPost() uint8 // 劣文次數

另外文件中的[發文限制] (https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#) 還有 regtime 註冊時間，如果最後需要也需一併加上
如果想要將資訊塞在新的 interface 的話也可以提出來討論~~

**期程 / Schedule**
- 討論時間： 一週
- 實作時間： 一週
- 確認時間：一週

[2021-03-05 15:42] minchao opened #62 "[BUG] Unreachable code in pttbbs.NewCache"
**The Problem**

Run `go run pttbbs/cmd/main.go` ，always return "unsupport connectionString"。

L278 always return error

https://github.com/Ptt-official-app/go-bbs/blob/529d3b0b32b61819682d715dd93cc973103b52b2/pttbbs/cache.go#L272-L286

[2021-03-05 17:59] #62 closed, assigned to PichuChen

[2021-03-05 18:03] PichuChen commented on #61
預定的作法應該會在 bbs.go 裡面新增三個 interface
第一個是 PostsLimitedBoardRecord 裡面實作 PostLimitPosts() uint8
第二個是 LoginsLimitedBoardRecord 裡面實作 PostLimitLogins() uint8
第三個是 BadPostLimitedBoardRecord 裡面實作 PostLimitBadPost() uint8

然後再到 pttbbs/board.go 去調整實作細節，不知道這樣如何？

[2021-03-05 18:04] #59 closed, assigned to xboxa5105

[2021-03-06 07:45] wagaru commented on #61
我本來是想說 ReadBoardRecords() 時一併將資訊回傳，所以才設計在 BoardRecord 裡。
如果這三個 Record 都只實作一個 function，
或許可以拆成一個 PostLimitedBoardRecord，然後裡面實作這三個 function 就好 ？

那是會提供一個 public 函數一次回傳三個 Record，還是要分別呼叫取得個自的 Record ？

[2021-03-06 13:31] PichuChen commented on #61
會想要分三個的原因是因為這三個實作並不是一個 BBS 系統的最基本必須，他算是選用性的功能這樣

[2021-03-06 19:09] #52 closed, assigned to titaneric

[2021-03-06 19:09] #53 closed, assigned to titaneric

[2021-03-06 19:16] PichuChen commented on #40
目前新增看板在 6519a0cbb6b17647af66b34870a2849818800b62 commit 中實作了，因此先關閉。

[2021-03-06 19:16] #40 closed

[2021-03-06 19:20] PichuChen commented on #48
熱門文章應該會由 Ptt-backend 來做統計和實作，因此先關掉這個 ISSUE 了

[2021-03-06 19:20] #48 closed, assigned to nobody

[2021-03-06 19:32] PichuChen opened #64 "[主線] 實作個人看板的歷史文章"
**實作細節 / Details of Implement**
- 目前 BBS 並沒有所謂個人看板的歷史文章，但是可以新增這個功能。
- 歷史文章資料庫應該是一個快取資料庫，他的資料庫檔案應該是隨時可以被刪除的。
- 這個功能需要能夠掃描目前所有看板的所有文章，列舉出屬於某個作者的文章
- 接著把文章列表以某種資料型態儲存在使用者的家目錄底下，檔名可能會叫做 `.history_articles`
- 資料檔格式目前尚未訂定，有可能是預先保留好長度的 TLV 格式、Protobuf 或者是以 sqlite 檔案實作

目前會需要儲存的欄位如下：
- 文章 ID
- 看板 ID

**期程 / Schedule**
- 討論時間：一週，到 3/14
- 實作時間：一週，到 3/21
- 確認時間：一週，到 3/28

**相關文件 / Documents**

[2021-03-07 09:08] #57 closed, assigned to nobody

[2021-03-08 17:10] titaneric opened #65 "[主線] [PTT] 補足Board struct MarshalBinary method"
**實作細節 / Details of Implement**
- 參考[NewBoardHeaderWithByte](https://github.com/Ptt-official-app/go-bbs/blob/development/pttbbs/board.go#L264)以及[pttbbs/passwd.go](https://github.com/Ptt-official-app/go-bbs/blob/development/pttbbs/passwd.go)作法對資料做序列化。
- 對應測試

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間：一週
- 實作時間：一週
- 確認時間：一週

**相關文件 / Documents**
[pttstruct.h](https://github.com/

[2021-03-08 17:31] titaneric opened #66 "[建議] 一致的Pos命名以及正名序列化及反序列化命名"
**原本作法的問題 / Solved Problem**
- 目前在讀struct的時候會手算field位置，而原本設計的struct會有padding的動作。在不同go-bbs下有不同的PosOf表示法。例如：
  -  [pttbbs/passwd.go](https://github.com/Ptt-official-app/go-bbs/blob/development/pttbbs/passwd.go#L52)中，是前面Pos + padding + 欄位長度
  -  [pttbbs/board.go](https://github.com/Ptt-official-app/go-bbs/blob/development/pttbbs/board.go#L140)裡，是padding + 前面Pos + 欄位長度
- 目前在讀寫struct時命名並沒有一致，例如可能是`Mars

[2021-03-09 09:26] y2468101216 opened #67 "[BUG] 0.3版 windows build fail"
**發生了什麼事？ / The Problem**
- 在 windows 上 0.3 版跑 go build 會 fail
**如何重現 / To Reproduce**
- go build
**預期的行為 / Expected behavior**
build success

**螢幕截圖 / Screenshots**
[code]

**開發環境 / Environment**
 - OS: windows 10
 - Golang Version: 1.16
 - Package Version: 0.3

[2021-03-09 09:48] y2468101216 commented on #67
追加 0.31 版錯誤訊息

[code]

[2021-03-09 09:57] PichuChen commented on #67
試試看 0.3.2 版

[2021-03-09 19:07] PichuChen commented on #64
https://github.com/Ptt-official-app/go-bbs/blob/feature/user_articles/user_article_test.go

目前很粗糙的測試狀況在這邊

接下來還需要
1. 把 b.StartTimer和b.StopTimer設定好
2. 修正 SSTable 的讀取
3. 增加測試每種方式讀取一千筆中最後一百筆的時間
4. 增加測試每種方式讀取一千筆中最後兩百筆到一百筆的時間

[2021-03-10 14:18] minchao opened #69 "[建議] CI 支援跨平台測試及編譯"
**原本作法的問題**
- 因應 #67 及 https://github.com/Ptt-official-app/go-bbs/pull/60#issuecomment-792152593 的問題，在 CI 執行環境提供誇平台測試。

**實作細節**
- 使用 [strategy.matrix.os](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategymatrix) 提供 macos、windows 及 ubuntu 測試。

[2021-03-10 14:34] minchao commented on #45
目前 CI 執行環境已經自動來到 `1.16`，請看：

https://github.com/Ptt-official-app/go-bbs/runs/2075158773?check_suite_focus=true#step:2:10

雖然這裡設定 `^1.13` 永遠會安裝最新的 `1.x` 版本，但隱含的是最低版本支援從 `1.13~1.x`，守備範圍就有點廣。不知到專案的 Go 版本支援策略為何？如果總是只支援最新版本的話，或許可以連著 go.mod 裡的版本宣告一起更新一下。

https://github.com/Ptt-official-app/go-bbs/blob/09df6eeef05320abf507fd38701889e7c71ccebe/go.mod#L3

[2021-03-11 02:48] #67 closed, assigned to nobody

[2021-03-11 05:05] minchao commented on #69
我來準備 PR。

[2021-03-12 04:03] #45 closed

[2021-03-12 04:03] #69 closed, assigned to nobody

[2021-03-12 04:06] #66 closed, assigned to titaneric

[2021-03-17 08:15] y2468101216 commented on #39
這個如果沒人修的話指派給我吧

[2021-03-20 06:36] #65 closed, assigned to titaneric

[2021-03-20 06:37] #37 closed

[2021-03-25 07:15] #39 closed

[2021-04-10 18:16] #64 closed, assigned to nobody

[2021-04-14 06:51] y2468101216 opened #76 "[一般] 貢獻者名單"
**實作細節 / Details of Implement**
目前準備製作一份貢獻者名單加到專案裡面。
包括但不限於 coding，撰寫文件等

歡迎大家提名自己到名單內

**期程 / Schedule**
無，但會定時 merge 到 development

**相關文件 / Documents**
CONTRIBUTORS.md

1. 名字 （網路名稱）：必填
2. GitHub 帳號：非必填
3. 社交帳號：非必填，請給連結
4. 貢獻內容：必填

[2021-04-14 06:58] y2468101216 commented on #76
1. 名字 （網路名稱）：陳昱廷
2. GitHub 帳號：[y2468101216](https://github.com/y2468101216)
3. 社交帳號：[facebook](https://www.facebook.com/y2468101216)
4. 貢獻內容：coding

[2021-04-18 05:26] #61 closed, assigned to nobody

[2021-04-18 05:52] PichuChen opened #78 "[主線] [PTT] 取得使用者設定"
**實作細節 / Details of Implement**
- 請見 [userec_t](https://github.com/ptt/pttbbs/blob/5715b35f510f48eb5092d32882f1aa09181dc3a1/include/pttstruct.h#L57) 中的 uflag 和 userlevel
- 每個選項對應的 flag id 請參見 [user.c](https://github.com/ptt/pttbbs/blob/5715b35f510f48eb5092d32882f1aa09181dc3a1/mbbsd/user.c#L438)  desc1 和 masks1

<img width="972" alt="截圖 2021-04-18 下午2 03 38" src="https://user-images.githubuserconte

[2021-04-18 07:08] PichuChen opened #79 "[主線] [PTT] 實作看板發文限制以及細部資訊"
**實作細節 / Details of Implement**
- [board.c](https://github.com/ptt/pttbbs/blob/5715b35f510f48eb5092d32882f1aa09181dc3a1/mbbsd/board.c#L338) 檔案的 b_config 上面有看板限制和細部資訊，兩邊基本上是一起被取出的，所以可以放在同個 Method 出來。

<img width="976" alt="截圖 2021-04-18 下午3 07 59" src="https://user-images.githubusercontent.com/600238/115137279-df118b80-a057-11eb-8ded-e1d964caf57d.png">

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功

[2021-04-21 02:39] AmberFu commented on #78
我會試試實作這部分。

[2021-04-24 05:52] nickyanggg commented on #79
我可以試試這個～

[2021-04-24 06:19] PichuChen commented on #79
Ok, 再麻煩你了

[2021-04-27 09:07] PichuChen commented on #78
Hello, 目前還 OK 嗎？

[2021-04-28 05:38] AmberFu commented on #78
目前正在實作，可能需要多一些時間，不好意思。

[2021-04-29 16:24] PichuChen opened #81 "[主線] [PTT] 實作在文章底部新增一行文字的method"
**實作細節 / Details of Implement**
- 目前在 [實作文章推文](https://github.com/Ptt-official-app/Ptt-backend/issues/194) 以及 [轉錄看板文章](https://github.com/Ptt-official-app/Ptt-backend/issues/66) 都需要直接新增一行字串
- 直接編輯整個文章和在後面新增一行字串在硬碟上的效率不太一樣，新增字串會有比較高的效能
- 可能會在原有文章或是 bbs 的 connecter 新增一個 method 裡面有參數來表示某個看板的某個文章，然後和一行任意文字。

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間： 三天，5/2
- 實作時間： 一週，5/9
- 確認時間：

[2021-04-29 16:28] PichuChen opened #82 "[主線] [PTT] 實作在文章底部新增一行文字的method"
**實作細節 / Details of Implement**
- 目前在 [實作文章推文](https://github.com/Ptt-official-app/Ptt-backend/issues/194) 以及 [轉錄看板文章](https://github.com/Ptt-official-app/Ptt-backend/issues/66) 都需要直接新增一行字串
- 直接編輯整個文章和在後面新增一行字串在硬碟上的效率不太一樣，新增字串會有比較高的效能
- 可能會在原有文章或是 bbs 的 connecter 新增一個 method 裡面有參數來表示某個看板的某個文章，然後和一行任意文字。
- 請參考 bbs.c 的 do_add_recommend

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間：

[2021-04-29 16:29] #81 closed, assigned to nobody

[2021-05-01 07:30] #79 closed, assigned to nickyanggg

[2021-05-04 16:41] wagaru opened #83 "[主線] [PTT] 實作發表文章"
**實作細節 / Details of Implement**
- 在 [bbs.go](https://github.com/Ptt-official-app/go-bbs/blob/development/bbs.go) 新增 WriteArticleConnector interface，此 interface 要實作以下二個函式
    - NewArticleRecord(args map[string]interface{}) (ArticleRecord, error)
    - AddArticleRecordFileRecord(name string, article ArticleRecord) error
- 在 pttbbs 套件新增 pttbbs_write_article_connector.go
  - NewArticleRecord(args map[

[2021-05-05 11:08] PichuChen commented on #78
@AmberFu 想問一下目前大致上到哪邊了？

[2021-05-05 15:07] AmberFu commented on #78
目前在實作幾個 method，傳入 userid 然後回傳該使用者的BBS 設定，預計本週可以完成

[2021-05-07 20:11] nickyanggg commented on #83
我可以試試這個～

[2021-05-10 07:08] wagaru opened #86 "[主線] [PTT] 實作個人看板的歷史留言"
**實作細節 / Details of Implement**
 - 基本上實作是參考 #64
 - 這個功能需要能夠掃瞄所有看板的所有文章，並列舉出所有屬於某個使用者的留言
 - 因目前還未實作推文的功能，所以暫時的做法是透過 ReadBoardArticleFile 讀出文章內容後，判斷內容是否有包含使用者ID，有的話視為此使用者有留言。加上 TODO 之後再另起 issue 修改
 - 新增 user_comment_record.go，定義 UserCommentRecord interface，至少實作以下 function
   - CommentOrder() int // 評論順序，從1開始，在 PTT 代表是幾樓的意思
   - CommentTime() time.Time // 評論時間，發出推文的時間
 - 在 bbs.go 新增 UserCommentConnec

[2021-05-11 17:27] ChihSeanHsu commented on #82
這issue有人接嗎？沒有的話可以幫忙。

[2021-05-11 18:00] PichuChen commented on #82
目前這個可能要同時等 ~~cross_post~~ do_add_recomment 的函式註解完成 https://docs.google.com/spreadsheets/d/1ITDYuj6TjeodZDtnXPrctZ6We6Mz_tXosmR_O1TCkXo/edit#gid=0

這部分可能要聯絡 ~~https://github.com/wagaru~~ dogeTW 協調喔

[2021-05-11 18:02] PichuChen commented on #82
誒不對，好像是 do_add_recomment ，這個 doge 那邊還沒有回應，所以你如果要做的話可以先在 Google Sheet 上面提示一下你那邊會接手

[2021-05-12 15:46] ChihSeanHsu commented on #82
好的，有兩個問題想要問一下，

1.  這個method(暫稱`AppendNewLine`)會讓`do_add_recomment`跟`cross_post`共用?
2.  `do_add_recomment` 有開相關的issue或PR嗎?

感謝

[2021-05-12 15:49] PichuChen commented on #82
這個method不會使用到 do_add_recomment 或是被 do_add_recomment 使用，他會像是實作 Golang 版本的 do_add_Recomment (原版是C語言的版本)

[2021-05-12 16:09] ChihSeanHsu commented on #82
了解了，剛剛稍微去看了一下bbs.c，
感謝你的回應。

[2021-05-15 12:27] ChihSeanHsu commented on #82
Hi @PichuChen ,

目前已經在google sheet裡填入`do_add_recommend`的註解了。

準備開始實作，但可能這個issue會跟[#83](https://github.com/Ptt-official-app/go-bbs/issues/83)有些相依，需要使用到那邊的connector，
或是這個會是個獨立的connector?

[2021-05-21 17:54] PichuChen commented on #82
@ChihSeanHsu 他應該可以是個獨立的 Connector, 或是兩邊誰後近來在處理merge即可

[2021-05-22 14:11] #76 closed, assigned to nobody

[2021-05-22 14:14] #83 closed, assigned to nickyanggg

[2021-05-26 16:56] #86 closed, assigned to nobody

[2021-05-31 19:14] gogog22510 opened #89 "[主線] [PTT] 實作 erase_tmpbuf"
**實作細節 / Details of Implement**
* 實作移除文章草稿的功能
* 請參考 [edit.c](https://github.com/ptt/pttbbs/blob/4d56e77f264960e43e060b77e442e166e5706417/mbbsd/edit.c) 下的 `erase_tmpbuf(void)`

**期程 / Schedule**
- 討論時間： 一週, 到 6/7
- 實作時間： 一週, 到 6/14
- 確認時間： 一週, 到 6/21

**相關文件 / Documents**
請參考[函式註解](https://docs.google.com/spreadsheets/d/1ITDYuj6TjeodZDtnXPrctZ6We6Mz_tXosmR_O1TCkXo/edit?usp=sharing)

這個功能是為了實作以下功能
!

[2021-06-01 19:46] #78 closed, assigned to AmberFu

[2021-06-01 20:12] PichuChen commented on #82
@ChihSeanHsu  我發現你那邊目前實作的函式不夠一般化，他有點太針對**推文**了，我原先的想法是如果可以新增一個函式，他是可以自定義內容的，那這樣轉發文章的系統訊息就可以用這個函式來完成了。

而接著在使用者推文的部分則是呼叫這個函式進行就行了。
不知道你覺得這個想法如何？

[2021-06-02 02:50] ChihSeanHsu commented on #82
Hi @PichuChen,
我覺得有可能是function命名的問題，因為目前是照著原本的bbs.c做些變動搬過來的，我一直覺得名字有點不太合適。

因為從bbs.c裡面看起來是轉發文章跟推文都是在最後呼叫這個`do_add_recommend`，
所以從那個角度來看，轉發文章的系統資訊也算是一種推文。

但如果說要更加一般化的話，我認為是可以把那些recommend的數目跟還有已讀重算這些拔出來，等到實作推文的時候再去實作他們，這個function單純就是處理增加一行文字到檔案的最底部就好。

也就是只傳入`direct, fileHeader, buf`這三個東西。

[2021-06-02 02:58] PichuChen commented on #82
@ChihSeanHsu 我覺得把算數目（或是說設定數目）和文章內容修改切開很ＯＫ

[2021-06-02 04:58] nickyanggg commented on #89
我可以幫忙

[2021-06-03 10:31] #89 closed, assigned to nobody

[2021-06-04 00:31] gogog22510 opened #91 "[主線] [PTT] 實作 read_tmpbuf"
**實作細節 / Details of Implement**
* 實作讀取草稿的功能
* 原始碼參考[edit.c 的 read_tmpbuf](https://github.com/ptt/pttbbs/blob/4d56e77f264960e43e060b77e442e166e5706417/mbbsd/edit.c#L1283)
* 參考 #89 的Pull Request
* 在 bbs.go 和 draft.go 裡加入 ReadUserDraft method (具體參數和實作細節請參考註解和原始碼)
* 可以的話加入test case

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間： 一週, 到 6/11
- 實作時間： 一週, 到 6/18
- 確認時間： 一週, 到 6/25

**相關文件

[2021-06-05 06:41] RicoToothless opened #92 "[主線] [PTT] 實作 write_tmpbuf"
**實作細節 / Details of Implement**
- 實作當使用者 bbs 編輯器要寫入暫存檔的功能，以下是觸發此功能的流程：
    - 寫文章或寄信時選擇 (^X) 後進入檔案處理 [edit.c write_file](https://github.com/ptt/pttbbs/blob/master/mbbsd/edit.c#L1924)
    - 使用者在「確定要儲存檔案嗎？」選擇 (w) 後進入 `write_tmpbuf` 函式
- 功能解說請參考 [google sheet pttbbs write_tmpbuf 函式註解](https://docs.google.com/spreadsheets/d/1ITDYuj6TjeodZDtnXPrctZ6We6Mz_tXosmR_O1TCkXo/edit#gid=0&range=A27)
- 原始碼參考請 [ed

[2021-06-07 03:06] nickyanggg commented on #91
我可以試試

[2021-06-08 19:30] cftang0827 commented on #92
我可以試試看！

[2021-06-08 19:43] PichuChen commented on #92
@cftang0827  交給你了

[2021-06-09 16:27] cftang0827 commented on #92
初步的看了一下code 想請教一下有關於流程的問題
所以基本上這個function的任務是只有按下”w”以後直接檔案覆寫的行為對嗎？這邊不用去管這個draft id  檔案是否已經有內容？

謝謝🙏

[2021-06-09 19:09] PichuChen commented on #92
我認為不用管，這部分應該由上層來檢查

[2021-06-12 18:43] #91 closed, assigned to nobody

[2021-06-19 05:08] nickyanggg opened #95 "[建議] 修改 UserCommentRecord"
**原本作法的問題 / Solved Problem**
目前 bbs.UserCommentRecord 只提供下列方法，然而 Ptt-backend 那邊在使用時仍需該 comment 所屬 bbs.ArticleRecord 的[資訊](https://docs.google.com/document/d/18DsZOyrlr5BIl2kKxZH7P2QxFLG02xL2SO0PzVHVY3k/edit#heading=h.xtgbc6lc04uw)(如下圖)
[code]
![截圖 2021-06-21 上午8 20 28](https://user-images.githubusercontent.com/38569272/123134710-a80a8c80-d483-11eb-870d-50f66e2472d1.png)

**實作細節 / Details of Implem

[2021-06-19 05:10] PichuChen commented on #95
可以考慮加上IP?

[2021-06-19 05:25] nickyanggg commented on #95
好

[2021-06-20 13:20] #82 closed, assigned to ChihSeanHsu

[2021-06-21 06:12] #92 closed, assigned to cftang0827

[2021-06-24 18:23] PichuChen commented on #95
@nickyanggg  這個ISSUE怎麼了嗎？

[2021-06-24 18:45] nickyanggg commented on #95
之前以為不用修改所以就先把這支 issue 以及對應到的 pr 關掉了，後來討論結果是先儲存 boardname、filename 即可

[2021-06-26 01:46] #95 closed, assigned to nobody

[2021-07-01 05:50] y2468101216 opened #98 "[主線] [PTT] 實作解析推文"
**實作細節 / Details of Implement**
藉由切割字串去爬取推文

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間：一天
- 實作時間：一天
- 確認時間： 一天

**相關文件 / Documents**
為了修正 [取得使用者推文錯誤](https://github.com/Ptt-official-app/Ptt-backend/pull/233)

[2021-07-01 13:57] #98 closed, assigned to nobody

[2021-07-09 17:13] PichuChen opened #100 "[主線] [PTT] 實作修改文章"
**實作細節 / Details of Implement**
- 目前在 pttbbs_write_article_connector.go 裡面有實作一部分的寫入文章，但是寫入時沒有含內文，如果要另外加上內文應該也沒辦法，需要另外增加 method 做這件事。

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間：  一週, 到 7/17
- 實作時間：  一週, 到 7/24
- 確認時間： 一週, 到 7/31

**相關文件 / Documents**
* #84

[2021-07-15 10:10] #12 closed

[2021-07-15 10:10] #15 closed

[2021-07-15 10:10] #20 closed

[2021-07-15 10:11] #22 closed

[2021-07-15 10:11] #23 closed

[2021-07-15 10:11] #33 closed

[2021-07-15 10:12] PichuChen commented on #32
關於檔案格式比較完整的研究在這邊，不過這是以 PTT 為例的

[2021-07-30 21:55] PichuChen opened #102 "[建議] jwt 套件更換"
**原本作法的問題 / Solved Problem**
- 目前我們使用的 jwt 套件是 https://github.com/dgrijalva/jwt-go 這個，然而目前在官方文件中已經發生不在維護的聲明了，推薦使用的套件是 https://github.com/golang-jwt/jwt 因此需要更換

**實作細節 / Details of Implement**
- 實作細節待討論

**期程 / Schedule**
- 討論時間： 一週, 到 8/7
- 實作時間： 一週, 到 8/14
- 確認時間： 一週, 到 8/21

**相關文件 / Documents**
- https://github.com/dgrijalva/jwt-go/issues/462
- https://github.com/golang-jwt/jwt

[2021-08-04 06:05] y2468101216 opened #104 "[BUG] WriteBoardArticleFile 沒有 close file"
**發生了什麼事？ / The Problem**
沒有釋放檔案

**如何重現 / To Reproduce**
重現步驟如下 / Steps to reproduce the behavior:  (不用一定勉強要用英文)
詳見 [ptt-backend#251](https://github.com/Ptt-official-app/Ptt-backend/pull/251)

**預期的行為 / Expected behavior**
不會報錯

**螢幕截圖 / Screenshots**
詳見 [ptt-backend#251](https://github.com/Ptt-official-app/Ptt-backend/pull/251)

[2021-08-04 06:12] #104 closed, assigned to nobody

[2021-08-07 05:02] #102 closed, assigned to nobody

[2021-08-08 20:57] kyho4515 commented on #38
hello, 我想幫忙這部分

[2021-08-08 20:58] PichuChen commented on #38
麻煩你了❤️

[2021-08-23 21:26] kyho4515 opened #109 "[建議] lint checks增加timeout option"
**原本作法的問題 / Solved Problem**
- lint有時會有跑太久直接exit的情況
- PR lint[連結](https://github.com/Ptt-official-app/go-bbs/runs/3404073485?check_suite_focus=true)
截圖
![Screen Shot 2021-08-23 at 5 09 47 PM](https://user-images.githubusercontent.com/10025955/130521476-bd1b308c-d64c-492f-a67b-de91f96ed28d.png)

**實作細節 / Details of Implement**
- 在.github/workflows/tests.yml的lint部分加上timeout argument

**期程 / Schedule

[2021-08-23 21:27] kyho4515 commented on #109
如果覺得ok的話，我可以把它加上去

[2021-08-28 02:40] karta0807913 opened #110 "[BUG] DB.WriteUserDraft 函數中的 draftContent 參數型別應為 UserDraft"
**發生了什麼事？ / The Problem**
我在嘗試修理 issue [Ptt-backend/issues/275](https://github.com/Ptt-official-app/Ptt-backend/issues/275) 時發現 `bbs.go`的`WriteUserDraft` 函數無法從外部呼叫。

原因為目前 `draftContent` 這個參數的型別為內部結構 `userDraft` 導致外部無法呼叫此函數。
https://github.com/Ptt-official-app/go-bbs/blob/dae4204f0d1ecab9b56344a31a03547359cf5b29/bbs.go#L725

**如何重現 / To Reproduce**

使用其他專案呼叫 `bbs.WriteUserDraft` 函數就可以發現此問題，例如：
[co

[2021-08-31 13:42] #110 closed, assigned to nobody

[2021-09-14 09:49] y2468101216 opened #112 "[BUG] 無法新增推文"
**實作細節 / Details of Implement**
AppendBoardArticleFile 需要能夠吃 board_id 去取 path，且推噓應當要可以被加在推文上

**期程 / Schedule**
(希望這個任務大概什麼時候做完，如果會卡到其他地方的功能也請在這邊提出。)
- 討論時間： 一週,
- 實作時間： 一週,
- 確認時間： 一週,

**相關文件 / Documents**
[ptt-backend #284](https://github.com/Ptt-official-app/Ptt-backend/issues/284)

[2021-09-14 10:37] #38 closed

[2021-09-28 01:34] #112 closed, assigned to nobody

[2021-10-14 03:26] y2468101216 opened #114 "[主線] [PTT] 實作 articleRecord 推噓文統計"
**實作細節 / Details of Implement**
目前 articleRecord 缺少 comment_count 即推噓文統計，需要解析 ptt 原始碼

**期程 / Schedule**
- 討論時間：一週
- 實作時間： 一週
- 確認時間： 一週

**相關文件 / Documents**
例如 API 文件，某個套件的連結（雖然可能討論到後來改成其他方案）